@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --main-color: hsl(257, 68%, 73%);
  --light-red: hsl(0, 67%, 71%);
  --light-yellow: hsl(42, 73%, 74%);
  --black-90: hsl(0, 0%, 10%);
  --black-70: hsl(0, 0%, 30%);
  --white: hsl(0, 0%, 100%);
  --white-alpha-40: hsla(0, 0%, 100%, 0.4);
  --white-alpha-50: hsla(0, 0%, 100%, 0.5);
  --body-bg-color: hsl(42, 71%, 87%);
  --border-color-1: hsl(42, 45%, 73%);
  --border-color-2: hsla(44, 45%, 73%, 0.4);
  --shadow-color: hsl(42, 45%, 73%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
/* 
::before,
::after {
  box-sizing: border-box;
} */

body {
    /* font-weight: 300;
    font-size: 16px; */
    height: 100%;
    background-color: var(--body-bg-color);
    color: var(--black-70);
    overflow-x: hidden;
    /* line-height: 1.5;
    -webkit-tap-highlight-color: transparent; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.dogs,
.cats {
  margin-top: 40px;
  color: var(--black-90)
}

.slider section {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.swiper-container-1,
.swiper-container-2 {
  width: 950px;
}

.next-1, 
.prev-1 {
  text-rendering: auto;
  top: 42%;
  color: var(--black-90);
}

.next-2,
.prev-2 {
  text-rendering: auto;
  top: 117%;
  color: var(--black-90);
}

/* .home {
    padding: 180px 0 80px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

home ::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    width: 200px;
    background-color: var(--main-color);
} */

/* .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 8px 0;
}

.header ::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    width: 200px;
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 28px;
    font-weight: 600;
    color: var(--black-90);
    text-decoration: none;
}

.logo img {
    width: 32px;
    margin-right: 8px;
} */

section .card .image {
  height: 140px;
  width: 140px;
  border-radius:50%;
  padding: 3px;
  background: var(--light-red);
}

section .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--white);
}

.card {
  height: 340px;
  position: relative;
  background: var(--white);
  border-radius: 20px;
  margin: 20px 0;
  width: 260px;
}

.card::before {
  top: 0;
  content: "";
  position: absolute;
  height: 42%;
  width: 100%;
  background: var(--light-red);
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.card .media-icons {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .media-icons i{
  color: var(--white);
  margin-top: 8px;
  opacity: 0.7;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .media-icons i:hover {
  opacity: 1;
}

.card .name-breed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: var(--black-90)
}

.name-breed .name {
  font-size: 20px;
  font-weight: 600;
}

.name-breed .breed {
  font-size: 16px;
  font-weight: 500;
}

.card .description {
  color: var(--black-90);
  font-size: 16px;
  font-weight: 500;
}

.card .button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button button {
  background-color: var(--light-red);
  outline: none;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button button:hover {
  background:hsl(0, 76%, 61%)
}